<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>个人中心---关注</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="../../static/assets/style/css/popleCenter.css">
    <link rel="stylesheet" href="../../static/assets/style/layui/css/layui.css">
</head>

<body>
    <div class="popleCenter">
        <div class="centerTitle">
            <p class="fl">个人中心---关注</p>
            <p class="fr back" onclick="window.location.href=''">返回主页</p>
            <p class="fr">用户名</p>
        </div>

        <!-- 个人中心主要内容 -->
        <div class="centerCon">
            <div class="cenDetail fl">
                <div class="cen">
                    <div class="cen-t">
                        <img src="../../static/assets/images/touxiang.png">
                        <p>用户名：userName</p>
                        <p>用户ID：123456789</p>
                        <p>注册时间：2019-07-08&nbsp;17:00</p>
                        <p>是否为会员</p>
                    </div>
                    <div class="cen-b">
                        <p class="fl">动态<br>(0)</p>
                        <p class="fl">关注<br>(0)</p>
                        <p class="fl">粉丝<br>(0)</p>
                    </div>
                    <div class="cen-o">
                        <p>收藏(0)</p>
                        <p>浏览历史</p>
                        <p>会员中心</p>
                        <p>个人信息</p>
                        <p>用户成就</p>
                        <p>账户管理</p>
                        <p class="lightred">退出当前账户</p>
                    </div>
                </div>

            </div>

            <div class="haveDetail fl">

                <div class="haveTitle">
                    <p>关注的人</p>
                    <p class="noFocus">全部取消关注</p>
                </div>
                <!-- 关注的作者 -->
                <div class="youFocus">
                    <div class="focusAuthor ">
                        <div class="auImg fl">
                            <img src="../../static/assets/images/qiaoba.jpg">
                        </div>
                        <div class="authorIntr fl">
                            <p class="auTi"><img src="../../static/assets/images/vip.png"> <span>ZhYJ</span> </p>
                            <p>简介：文学狂热爱好1231231231231123132123njsdivbofvkirp12315641231234561865186啦啦啦啦啦啦啦啦啦</p>
                        </div>
                        <div class="isFocus fl">
                            <button><i class="layui-icon layui-icon-ok"></i>已关注</button>
                        </div>
                    </div>
                    <div class="focusAuthor ">
                        <div class="auImg fl">
                            <img src="../../static/assets/images/qiaoba.jpg">
                        </div>
                        <div class="authorIntr fl">
                            <p class="auTi"><img src="../../static/assets/images/vip.png"> <span>ZhYJ</span> </p>
                            <p>简介：文学狂热爱好1231231231231123132123njsdivbofvkirp12315641231234561865186啦啦啦啦啦啦啦啦啦</p>
                        </div>
                        <div class="isFocus fl">
                            <button><i class="layui-icon layui-icon-ok"></i>已关注</button>
                        </div>
                    </div>
                    <div class="focusAuthor ">
                        <div class="auImg fl">
                            <img src="../../static/assets/images/qiaoba.jpg">
                        </div>
                        <div class="authorIntr fl">
                            <p class="auTi"><span>ZhYJ</span> </p>
                            <p>简介：文学狂热爱好1231231231231123132123njsdivbofvkirp12315641231234561865186啦啦啦啦啦啦啦啦啦</p>
                        </div>
                        <div class="isFocus fl">
                            <button><i class="layui-icon layui-icon-ok"></i>已关注</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sendDetail fl">
                <div class="userSuccess">
                    <p class="userT">系统消息</p>
                    <div class="user-ch">
                        <p>共发表10篇文章</p>
                        <p>共发表10条评论</p>
                        <p>为其他作者点赞10次</p>
                        <p>最近发布的文章</p>
                    </div>
                    <button class="more">查看更多消息></button>

                </div>
            </div>
        </div>
    </div>
    <script src="../../static/assets/js/jquery-3.4.1.js"></script>
    <script src="../../static/assets/style/layui/layui.js"></script>
</body>

</html>