<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <title>文章内容</title>
    <link rel="stylesheet" href="../static/assets/style/css/articlePage.css">
    <link rel="stylesheet" href="../static/assets/style/css/blog.css">
    <link rel="stylesheet" href="../static/assets/style/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/editormd.css"/>
</head>

<body>
<div class="sinPage">
    <span th:text="${article.getArticleId()}" style="display: none" class="articleID"></span>
    <span th:if="${account!=null}" style="display: none" class="hasUserName">
        <span th:text="${account.getUserName()}" style="display: none" class="userName"></span>
    </span>
    <div class="sinTitle">
        <p>文章分类</p>
        <a href="/">
            <button>返回主页</button>
        </a>
    </div>

    <!-- 文章主体 left+right -->
    <div class="pageMain">
        <div class="mainLeft">
            <div class="blogDetail">
                <div class="blogTop">
                    <img src="../static/assets/images/view1.png">
                </div>
                <div class="blogBottom">
                    <div class="BB-T">
                        <p class="articleright" th:text="${article.getArticleCategories()}"></p>
                    </div>
                    <div class="BB-M">
                        <p class="artName" th:text="${article.getArticleTitle()}"></p>
                    </div>
                    <div class="BB-B">
                        <div class="witeEnd">
                            <p class="digest" th:text="${article.getArticleAuthor()}"></p>
                            <i class="layui-icon layui-icon-tabs" th:text="${article.getArticleDate()}"></i>
                        </div>
                        <div class="icon">
                            <!--<i class="layui-icon layui-icon-dialogue" th:text="${msgCount}"></i>-->
                            <i class="layui-icon layui-icon-star" th:text="${article.getArticleStar()}"></i>
                        </div>
                    </div>
                    <div class="mainCon" id="doc-content">
                        <!--<div id="my-editormd-markdown-doc" th:text="${article.getArticleContent()}">-->
                        <!--<div id="doc-content">-->
                        <textarea style="display:none;" th:text="${article.getArticleContent()}"></textarea>
                        <!--</div>-->
                    </div>
                    <div class="keyLable">
                        <div class="leftKey">
                            <button>时尚</button>
                            <button>生活</button>
                            <button>旅行</button>
                        </div>
                        <div class="rightKey">
                            <button>分享</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 文章上一页下一页 -->
        <div class="articleChan">
            <!--文章是第一篇的时候 没有前一篇的标签-->
            <div th:if="${article.getLastArticleId()} ne '0'">
                <a th:href="${article.getLastArticleId()}">
                    <div class="pre">
                        <span>Preveious</span>
                        <i class="layui-icon layui-icon-left"></i>
                    </div>
                </a>
            </div>
            <!--文章是最后篇的时候 没有下一篇的标签-->
            <div th:if="${article.getNextArticleId()} ne null">
                <a th:href="${article.getNextArticleId()}">
                    <div class="next">
                        <span>next</span>
                        <i class="layui-icon layui-icon-right"></i>
                    </div>
                </a>
            </div>
        </div>

        <!-- 文章已评论 -->
        <div class="comments">
            <p class="comTitle">总共<span th:text="${msgCount}"></span>条评论</p>
            <!--评论正文-->
            <div th:each="msg,msgstat:${msgList}">
                <div class="com">
                    <div class="comImg">
                        <img src="../static/assets/images/touxiang.jpg">
                    </div>
                    <div class="comcon">
                        <div class="comcon-t">
                            <p class="t-l" th:text="${msg.getUserName()}">用户的名字</p>
                            <p class="t-r" th:text="${msg.getMessageDate()}">评论时间:2019-04-04&nbsp;17:00</p>
                        </div>
                        <div class="comcon-m" th:text="${msg.getMessageContent()}">
                        </div>
                        <div class="comcon-b">
                            <i class="layui-icon layui-icon-face-smile-fine">123</i>
                            <i class="layui-icon layui-icon-dialogue">回复</i>
                        </div>
                    </div>
                </div>
            </div>
            <!--评论正文-->
        </div>

        <!-- 发表评论 -->
        <div class="sendcom">
            <p class="comTitle">Leave Your Comment</p>
            <div class="send-c">
                <textarea rows="9" class="leaveMsg"></textarea>
                <button class="subLeaveMsg">SUBMIT NOW</button>
            </div>
        </div>
    </div>
    <div class="mainRight">

    </div>
</div>
</div>
<script src="../static/assets/js/jquery-3.4.1.js"></script>
<script src="../static/assets/style/layui/layui.js"></script>
<script src="../static/lib/marked.min.js"></script>
<script src="../static/lib/prettify.min.js"></script>
<script src="../static/lib/raphael.min.js"></script>
<script src="../static/lib/underscore.min.js"></script>
<script src="../static/lib/sequence-diagram.min.js"></script>
<script src="../static/lib/flowchart.min.js"></script>
<script src="../static/lib/jquery.flowchart.min.js"></script>
<script src="../static/js/editormd.js"></script>
<script>
    var testEditor;
    $(function () {
        testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
            htmlDecode: "style,script,iframe",
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
            codeFold: true
        });
    });

    $(".subLeaveMsg").click(function () {
        if ($("span").is(".userName")) {
            $.ajax({
                url: "http://localhost:8888/insertMessage",
                data: {messageContent: $(".leaveMsg").val(), articleId: $(".articleID").text()},
                success: function () {
                    window.location.reload();
                }
            })
        } else {
            window.location.href = "/loginPage";
        }

    })
</script>
</body>

</html>