<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>文章内容</title>
    <link rel="stylesheet" href="../static/assets/style/css/articlePage.css">
    <link rel="stylesheet" href="../static/assets/style/css/blog.css">
    <link rel="stylesheet" href="../static/assets/style/layui/css/layui.css">
</head>

<body>
    <div class="sinPage">
        <div class="sinTitle">
            <p>文章分类</p>
            <button>返回主页</button>
        </div>

        <!-- 文章主体 left+right -->
        <div class="pageMain">
            <div class="mainLeft">
                <div class="blogDetail">
                    <div class="blogTop">
                        <img src="../static/assets/images/view1.png">
                    </div>
                    <div class="blogBottom">
                        <div class="BB-T">
                            <p class="articleright">分类</p>
                        </div>
                        <div class="BB-M">
                            <p class="artName">文章名字</p>
                            <p class="digest">文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内
                                容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容</p>
                        </div>
                        <div class="BB-B">
                            <div class="witeEnd">
                                <p class="digest">作者</p>
                                <i class="layui-icon layui-icon-tabs">2019-12-04</i>
                            </div>
                            <div class="icon">
                                <i class="layui-icon layui-icon-dialogue">123</i>
                                <i class="layui-icon layui-icon-star">123</i>
                            </div>
                        </div>
                        <div class="mainCon">
                            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit
                                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit
                                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit
                                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit
                                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit
                                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                aliquam.
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci
                                velit
                                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.
                            </p>
                            <div class="keyLable">
                                <div class="leftKey">
                                    <button>时尚</button>
                                    <button>生活</button>
                                    <button>旅行</button>
                                </div>
                                <div class="rightKey">
                                    <button>分享</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 文章上一页下一页 -->
                <div class="articleChan">
                    <div class="pre">
                        <i class="layui-icon layui-icon-left"></i>
                        <span>Preveious</span>
                    </div>
                    <div class="next">
                        <span>next</span>
                        <i class="layui-icon layui-icon-right"></i>
                    </div>
                </div>

                <!-- 文章已评论 -->
                <div class="comments">
                    <p class="comTitle">10条评论</p>
                    <div class="com">
                        <div class="comImg">
                            <img src="../static/assets/images/touxiang.jpg">
                        </div>
                        <div class="comcon">
                            <div class="comcon-t">
                                <p class="t-l">用户的名字</p>
                                <p class="t-r">评论时间:2019-04-04&nbsp;17:00</p>
                            </div>
                            <div class="comcon-m">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Laborum aut culpa modi vel eaque cumque illo. Vitae placeat
                                    itaque minus!</p>
                            </div>
                            <div class="comcon-b">
                                <i class="layui-icon layui-icon-face-smile-fine">123</i>
                                <i class="layui-icon layui-icon-dialogue">回复</i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 发表评论 -->
                <div class="sendcom">
                    <p class="comTitle">Leave Your Comment</p>
                    <div class="send-c">
                        <textarea rows="9"></textarea>
                        <button>SUBMIT NOW</button>
                    </div>
                </div>
            </div>
            <div class="mainRight">

            </div>
        </div>
    </div>
    <script src="../static/assets/js/jquery-3.4.1.js"></script>
    <script src="../static/assets/style/layui/layui.js"></script>
</body>

</html>