<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>文章分类列表</title>
    <link rel="stylesheet" href="../static/assets/style/css/classcal.css">
    <link rel="stylesheet" href="../static/assets/style/layui/css/layui.css">
</head>

<body>
    <div class="classKinds">
        <div class="conter">
        <div class="classTitle">
            <p class="fl">某某大类(技术类)</p>
            <p class="fr back" onclick="window.location.href='blogMain.html'">返回主页</p>
            <p class="fr">用户名</p>
        </div>

        <!-- 主体 -->
        <div class="claList">
            <div class="claList-l fl">
                <!-- 文章 -->
                <div class="blogDetail">
                    <div class="blogBottom">
                        <div class="BB-T">
                            <p class="articleright">分类</p>
                        </div>
                        <div class="BB-M">
                            <p class="artName">文章名字</p>
                            <p class="digest">文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内
                                容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容</p>
                        </div>
                        <div class="BB-B">
                            <div class="witeEnd">
                                <p class="digest">作者</p>
                                <i class="layui-icon layui-icon-tabs">2019-12-04</i>
                            </div>
                            <div class="icon">
                                <i class="layui-icon layui-icon-dialogue">123</i>
                                <i class="layui-icon layui-icon-star">123</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blogDetail">
                    <div class="blogBottom">
                        <div class="BB-T">
                            <p class="articleright">分类</p>
                        </div>
                        <div class="BB-M">
                            <p class="artName">文章名字</p>
                            <p class="digest">文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内
                                容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容</p>
                        </div>
                        <div class="BB-B">
                            <div class="witeEnd">
                                <p class="digest">作者</p>
                                <i class="layui-icon layui-icon-tabs">2019-12-04</i>
                            </div>
                            <div class="icon">
                                <i class="layui-icon layui-icon-dialogue">123</i>
                                <i class="layui-icon layui-icon-star">123</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blogDetail">
                    <div class="blogBottom">
                        <div class="BB-T">
                            <p class="articleright">分类</p>
                        </div>
                        <div class="BB-M">
                            <p class="artName">文章名字</p>
                            <p class="digest">文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内
                                容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容</p>
                        </div>
                        <div class="BB-B">
                            <div class="witeEnd">
                                <p class="digest">作者</p>
                                <i class="layui-icon layui-icon-tabs">2019-12-04</i>
                            </div>
                            <div class="icon">
                                <i class="layui-icon layui-icon-dialogue">123</i>
                                <i class="layui-icon layui-icon-star">123</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blogDetail">
                    <div class="blogBottom">
                        <div class="BB-T">
                            <p class="articleright">分类</p>
                        </div>
                        <div class="BB-M">
                            <p class="artName">文章名字</p>
                            <p class="digest">文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内
                                容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容</p>
                        </div>
                        <div class="BB-B">
                            <div class="witeEnd">
                                <p class="digest">作者</p>
                                <i class="layui-icon layui-icon-tabs">2019-12-04</i>
                            </div>
                            <div class="icon">
                                <i class="layui-icon layui-icon-dialogue">123</i>
                                <i class="layui-icon layui-icon-star">123</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blogDetail">
                    <div class="blogBottom">
                        <div class="BB-T">
                            <p class="articleright">分类</p>
                        </div>
                        <div class="BB-M">
                            <p class="artName">文章名字</p>
                            <p class="digest">文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内
                                容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容</p>
                        </div>
                        <div class="BB-B">
                            <div class="witeEnd">
                                <p class="digest">作者</p>
                                <i class="layui-icon layui-icon-tabs">2019-12-04</i>
                            </div>
                            <div class="icon">
                                <i class="layui-icon layui-icon-dialogue">123</i>
                                <i class="layui-icon layui-icon-star">123</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="claList-r fr">
                <div class="cla cla-mar">
                    <div class="claTitle">
                                <p class="fl">技术类----更多分类</p>
                            </div>
                    <div class="clacon">
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/touxiang.jpg">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/touxiang.jpg">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/lufei.jpg">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/qiaoba.jpg">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/touxiang.jpg">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/touxiang.png">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/lufei.jpg">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/qiaoba.jpg">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/touxiang.jpg">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/touxiang.png">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/lufei.jpg">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/qiaoba.jpg">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/touxiang.jpg">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/touxiang.png">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/lufei.jpg">
                            <p>food</p>
                        </div>
                        <div class="claimg fl claLimg">
                            <img src="../static/assets/images/qiaoba.jpg">
                            <p>food</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
        <script src="../static/assets/js/jquery-3.4.1.js"></script>
        <script src="../static/assets/style/layui/layui.js"></script>
        <script src="../static/assets/js/jquery-3.4.1.js"></script>
</body>

</html>