<!DOCTYPE html>
<html lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>markdown编辑</title>
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/editormd.min.css"/>
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/style/css/submitPage.css"/>
    <link rel="stylesheet" href="../static/assets/style/layui/css/layui.css">
    <style>
        /*隐藏markdown全窗口预览不会关闭的bug，会导致其他fa选择器同时隐藏*/
        .fa {
            display: none;
        }
    </style>
    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/editormd.js"></script>

</head>
<body>
<div class="submitPage">
    <div class="fl-left">
        <div class="B_TOP">
            <button class="backF">回首页</button>
        </div>
        <div class="B_TOP">
            <div class="submitUser">
                <div class="submit-top">
                    <img src="../static/assets/images/touxiang.png">
                </div>
                <div class="submit-bottom">
                    <p>昵称：ZYJ</p>
                    <p>账号：123456789</p>
                </div>
            </div>
        </div>
        <div class="B_TOP">
            <div class="submitUser">
                <p class="articleTi">文章标题:</p>
                <input class="articleType" type="text">
                <p class="articleTi">文章标签:</p>
                <input class="articleType" type="text">
            </div>
        </div>
        <div class="b_footer">
            <button class="fabiao shezhi">
                <i class="layui-icon layui-icon-set"></i>
                设置
            </button>
            <button id="fabiao" class="fabiao">
                <i class="layui-icon layui-icon-release"></i>
                发表文章
            </button>
        </div>
    </div>
    <div class="fl-right">
        <!--需要添加editor.md编辑器的地方输入以下div-->
        <div id="my-editormd">
            <!--<textarea style="display:none;" class="form-control" id="content-editormd-markdown-doc"-->
            <!--name="content-editormd-markdown-doc"></textarea>-->
            <!-- 用于后端获取md稳当内容，Java中：request.getParameter("my-editormd-html-code") -->
            <textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
            <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" style="display:none;"></textarea>
        </div>
    </div>
</div>

<script src="../static/assets/js/jquery-3.4.1.js"></script>
<script src="../static/assets/style/layui/layui.js"></script>
<script type="text/javascript">
    var editor;
    $(function () {
        <!--此处为上文的div的id-->
        editor = editormd("my-editormd", {
            // width: "90%",
            // height: 720,
            syncScrolling: true, //设置双向滚动
            codeFold: true,
            emoji: true,
            tocm: true, // Using [TOCM]
            htmlDecode: true, //不过滤标签
            // imageUpload : true, //上传图片
            theme: "dark",//工具栏主题
            path: "../static/lib/",
            saveHTMLToTextarea: true, // 保存 HTML 到 Textarea 方便post提交
            toolbarAutoFixed: true,//工具栏自动固定定位的开启与禁用
            tex: true, // 开启科学公式TeX语言支持，默认关闭
            flowChart: true, // 开启流程图支持，默认关闭
            sequenceDiagram: true, // 开启时序/序列图支持，默认关闭,
            toolbarIcons: function () {
                return ["bold", "del", "italic", "quote", "|", "h1", "h2", "h3", "h4", "h5", "h6", "|", "list-ul", "list-ol", "hr", "|", "link", "image", "code", "code-block", "table", "datetime", "html-entities", "emoji", "|", "watch", "preview", "fullscreen", "clear", "search", "|", "help", "info"]
            }
        });
    });
    var articleContent = $('#my-editormd-html-code');
    $(function () {
        $("#fabiao").click(function () {
            $.ajax({
                async: false,
                url: "http://localhost:8888/Article/PublishArticle",
                type: "post",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({
                    "articleContent": articleContent.val(),
                    "articleTabloid": editor.getHTML()
                }),
                success: window.location.href = "/"
            });
            return false;
        });
    });
</script>
</body>
</html>

