<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>博客主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/assets/style/css/blog.css">
    <link rel="stylesheet" href="../static/assets/style/layui/css/layui.css">
    <link rel="stylesheet" href="../static/assets/style/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/editormd.css"/>
</head>

<body>
<div class="blogBody">
    <div class="blogTitle">
        <p class="userName">ZYJ</p>
        <div class="navigationBar">
            <button>主页</button>
            <button>类别</button>
            <button>个人中心</button>
            <button>发布文章</button>
            <button>vip会员</button>
        </div>
        <div class="searchBlog" id="searchBlog">
            <i class="layui-icon layui-icon-search"></i>
        </div>
        <p class="login"><a href="#">登陆</a>/<a href="#">注册</a></p>
    </div>
    <div class="blogCon">
        <!-- 幻灯片--模块 -->
        <div class="shuffling">
            <div class="slidePicture">
                <div class="slideView fade">
                    <img src="../static/assets/images/1.jpg">
                </div>
                <div class="slideView fade">
                    <img src="../static/assets/images/2.jpg">
                </div>
                <div class="slideView fade">
                    <img src="../static/assets/images/3.jpg">
                </div>
                <div class="slideView fade">
                    <img src="../static/assets/images/4.jpg">
                </div>

                <div class="silde-b">
                    <span class="point" onclick="currentSlide(1)"></span>
                    <span class="point" onclick="currentSlide(2)"></span>
                    <span class="point" onclick="currentSlide(3)"></span>
                    <span class="point" onclick="currentSlide(4)"></span>
                </div>
            </div>
        </div>

        <!-- 博客主页--推荐 -->
        <div class="recommend">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" id="slider1">
                        <div class="comleft">
                            <img src="../static/assets/images/touxiang.png">
                        </div>
                        <div class="comright">
                            <p class="articleright">分类</p>
                            <p class="articlerCon">title</p>
                            <div class="articlerFoot">
                                <p>BY-whowrite</p>
                                <i class="layui-icon layui-icon-dialogue">123</i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" id="slider2">
                        <div class="comleft">
                            <img src="../static/assets/images/touxiang.png">
                        </div>
                        <div class="comright">
                            <p class="articleright">分类</p>
                            <p class="articlerCon">title</p>
                            <div class="articlerFoot">
                                <p>BY-whowrite</p>
                                <i class="layui-icon layui-icon-dialogue">123</i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" id="slider3">
                        <div class="comleft">
                            <img src="../static/assets/images/touxiang.png">
                        </div>
                        <div class="comright">
                            <p class="articleright">分类</p>
                            <p class="articlerCon">title</p>
                            <div class="articlerFoot">
                                <p>BY-whowrite</p>
                                <i class="layui-icon layui-icon-dialogue">123</i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" id="slider4">
                        <div class="comleft">
                            <img src="../static/assets/images/touxiang.png">
                        </div>
                        <div class="comright">
                            <p class="articleright">分类</p>
                            <p class="articlerCon">title</p>
                            <div class="articlerFoot">
                                <p>BY-whowrite</p>
                                <i class="layui-icon layui-icon-dialogue">123</i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" id="slider5">
                        <div class="comleft">
                            <img src="../static/assets/images/touxiang.png">
                        </div>
                        <div class="comright">
                            <p class="articleright">分类</p>
                            <p class="articlerCon">title</p>
                            <div class="articlerFoot">
                                <p>BY-whowrite</p>
                                <i class="layui-icon layui-icon-dialogue">123</i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" id="slider6">
                        <div class="comleft">
                            <img src="../static/assets/images/touxiang.png">
                        </div>
                        <div class="comright">
                            <p class="articleright">分类</p>
                            <p class="articlerCon">title</p>
                            <div class="articlerFoot">
                                <p>BY-whowrite</p>
                                <i class="layui-icon layui-icon-dialogue">123</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 博客主页随机内容 -->
        <div class="randomCom">
            <div class="randomLeft">
                <div class="article">
                    <!--<div class="blogDetail">-->
                    <!--<div class="blogTop">-->
                    <!--<img src="../static/assets/images/view4.png">-->
                    <!--</div>-->
                    <!--<div class="blogBottom">-->
                    <!--<div class="BB-T">-->
                    <!--<p class="articleright">分类</p>-->
                    <!--<i class="layui-icon layui-icon-camera-fill"></i>-->
                    <!--</div>-->
                    <!--<div class="BB-M">-->
                    <!--<p class="artName">文章名字</p>-->
                    <!--<p class="digest">文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内-->
                    <!--容文章主要内容文章主要内容文章主要内容文章主要内容文章主要内容</p>-->
                    <!--</div>-->
                    <!--<div class="BB-B">-->
                    <!--<div class="witeEnd">-->
                    <!--<p class="digest">作者</p>-->
                    <!--<i class="layui-icon layui-icon-tabs">2019-12-04</i>-->
                    <!--</div>-->
                    <!--<div class="icon">-->
                    <!--<i class="layui-icon layui-icon-dialogue">123</i>-->
                    <!--<i class="layui-icon layui-icon-star">123</i>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
                <!-- 分页器 -->
                <div id="pager" class="pager">
                    <ul>
                        <li class="list_btn">上一页</li>
                        <li class="page_num"></li>
                        <li class="page_num"></li>
                        <li class="page_num clearfix"></li>
                        <li class="page_num"></li>
                        <li class="page_num"></li>
                        <li class="list_btn">下一页</li>
                    </ul>
                </div>
                <div id="demo4"></div>
            </div>
            <div class="randomRight">
                <!-- 猜你喜欢 -->
                <div class="blogcircle">
                    <div class="rimTitle">
                        <p>猜你喜欢</p>
                    </div>
                    <div class="likesingle">
                        <div class="rimImg">
                            <img src="../static/assets/images/timg.jpg">
                        </div>
                        <div class="rimCom">
                            <p class="rimComClass">分类</p>
                            <p class="rimComMain">题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目</p>
                            <div class="articlerFoot">
                                <p>BY-whowrite</p>
                                <i class="layui-icon layui-icon-dialogue">123</i>
                            </div>
                        </div>
                    </div>
                    <div class="likesingle">
                        <div class="rimImg">
                            <img src="../static/assets/images/timg1.jpg">
                        </div>
                        <div class="rimCom">
                            <p class="rimComClass">分类</p>
                            <p class="rimComMain">题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目</p>
                            <div class="articlerFoot">
                                <p>BY-whowrite</p>
                                <i class="layui-icon layui-icon-dialogue">123</i>
                            </div>
                        </div>
                    </div>
                    <div class="likesingle">
                        <div class="rimImg">
                            <img src="../static/assets/images/timg2.jpg">
                        </div>
                        <div class="rimCom">
                            <p class="rimComClass">分类</p>
                            <p class="rimComMain">题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目</p>
                            <div class="articlerFoot">
                                <p>BY-whowrite</p>
                                <i class="layui-icon layui-icon-dialogue">123</i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="diaSearch">
    <div class="littieDia" id="diaS">
        <div class="diaCon">
            <div style="overflow: hidden">
                <span class="close">&times;</span>
            </div>
            <div class="searchCom">
                <input type="text">
                <button>Search</button>
            </div>
        </div>
    </div>
</div>
<script src="../static/assets/js/jquery-3.4.1.js"></script>
<script src="../static/assets/style/layui/layui.js"></script>
<script src="../static/assets/js/swiper.min.js"></script>
<script src="../static/assets/js/blogMain.js"></script>
<script src="../static/assets/js/indexAjax.js"></script>
</body>
</html>