<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid Item Animation Layout - Demo 1</title>
    <meta name="description"
          content="A responsive, magazine-like website layout with a grid item animation effect when opening the content"/>
    <meta name="keywords" content="grid, layout, effect, animated, responsive, magazine, template, web design"/>
    <link rel="stylesheet" type="text/css" href="../static/assets/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/style1.css"/>
</head>
<body>
<div class="container">
    <button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
    <div id="theSidebar" class="sidebar">
        <button class="close-button fa fa-fw fa-close"></button>
        <h1><span>Animated</span> Grid Layout</h1>
        <nav class="codrops-demos">
            <a class="current-demo" href="login.html">Demo 1</a>
            <a href="index2.html">Demo 2</a>
        </nav>
    </div>
    <div id="theGrid" class="main">
        <section class="grid">
            <header class="top-bar">
                <h2 class="top-bar__headline">Latest articles</h2>
                <div class="filter">
                    <span>Filter by:</span>
                    <span class="dropdown">Popular</span>
                </div>
            </header>

            <!--文章div小框-->
            <!--<a class="grid__item" href="#">-->
            <!--<h2 class="title title&#45;&#45;preview">On Humans &amp; other Beings</h2>-->
            <!--<div class="loader"></div>-->
            <!--<span class="category">Stories for humans</span>-->
            <!--<div class="meta meta&#45;&#45;preview">-->
            <!--<span class="meta__date"><i class="fa fa-calendar-o"></i> 9 Apr</span>-->
            <!--<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min read</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--文章div小框-->
            <footer class="page-meta">
                <span>Load more...</span>
            </footer>
        </section>
        <section class="content">
            <!--文章正文内容-->
            <!--<div class="scroll-wrap">-->
            <!--<article class="content__item">-->
            <!--<span class="category category&#45;&#45;full">Stories for humans</span>-->
            <!--<h2 class="title title&#45;&#45;full">On Humans &amp; other Beings</h2>-->
            <!--<div class="meta meta&#45;&#45;full">-->
            <!--<img class="meta__avatar" src="img/authors/1.png" alt="author01"/>-->
            <!--<span class="meta__author">Matthew Walters</span>-->
            <!--<span class="meta__date"><i class="fa fa-calendar-o"></i> 9 Apr</span>-->
            <!--<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min read</span>-->
            <!--</div>-->

            <!--<p>Excerpts from <a href="http://www.jq22.com">Totem and Taboo</a> by Sigmund Freud.</p>-->
            <!--</article>-->
            <!--</div>-->
            <!--文章正文内容-->
            <button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>
        </section>
    </div>
</div>
<!--<button id="fabu">发布文章</button>-->
<script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        $("#fabu").click(function () {
            window.location.href = "editor.html"
        });
    });
    // 页面加载时就ajax
    $(document).ready(function () {
        $.ajax({
            async: false,
            url: "http://localhost:8888/selectArticle",
            type: "GET",
            data: {pageNum: 1, pageSize: 3},
            error: function (error) {
                console.log(error);
            },
            success: function (data) {
                // $('.articles').empty();
                // $('.content').empty();
                var articles = $('.grid');
                var content = $('.content');
                $.each(data, function (i, obj) {
                    var center = $('<a class="grid__item" href="#">' +
                        '<h2 class="title title--preview">' + obj['articleTitle'] + '</h2>' +
                        '<div class="loader">' + '</div>' +
                        '<span class="category">' + obj['articleTabloid'] + '</span>' +
                        '<div class="meta meta--preview">' +
                        '<span class="meta__date">' + '<i class="fa fa-calendar-o">' + '</i>' + obj['articleDate'] + '</span>' +
                        '<span class="meta__reading-time">' + '<i class="fa fa-clock-o">' + '</i>' + obj['articleAuthor'] + '</span>' +
                        '</div>' +
                        '</a>'
                    );

                    var tent = $('<div class="scroll-wrap">' +
                        '<article class="content__item">' +
                        '<span class="category category--full">Stories for humans</span>' +
                        '<h2 class="title title--full">' + obj['articleTitle'] + '</h2>' +
                        '<div class="meta meta--full">' +
                        '<span class="meta__author">' + obj['articleAuthor'] + '</span>' +
                        '<span class="meta__date"><i class="fa fa-calendar-o"></i>' + obj['articleDate'] + '</span>' +
                        '<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min read</span>' +
                        '</div>' +
                        '<p>正文</p>' +
                        '</article>' +
                        '</div>'
                    );
                    articles.append(center);
                    content.append(tent);
                })
            }
        })
    });
</script>

<!--动态加载JS-->
<script>
    window.onload = function () {
        var body = $("body");
        var js = $(
            '<script src="../static/assets/js/modernizr.custom.js">' +
            '\<\/script>' + '<script src="../static/assets/js/classie.js">' +
            '\<\/script>' + '<script src="../static/assets/js/count.js">' +
            '\<\/script>'
        );
        body.append(js);
    };
</script>
</body>
</html>
