<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../static/assets/style/css/blog.css">
    <link rel="stylesheet" href="../static/assets/style/layui/css/layui.css">
</head>
<body>
<div class="register">
    <div class="blackBord">
        <div class="interface">
            <div class="regiTi">
                <p>注册 <span class="close">&times;</span></p>
            </div>
            <div class="regiCon">
                <div class="inputRegi">
                    <i class="layui-icon layui-icon-username"></i>
                    <input type="text" placeholder="自定义用户名" id="userName">
                </div>
                <div class="inputRegi">
                    <i class="layui-icon layui-icon-read"></i>
                    <input type="text" placeholder="请输入正确的邮箱" id="yx">
                </div>
                <div class="inputRegi">
                    <i class="layui-icon layui-icon-cellphone"></i>
                    <input type="text" placeholder="请输入手机号码" id="phoneNum">
                </div>
                <div class="inputRegi noBorder">
                    <div class="haveBor">
                        <i class="layui-icon layui-icon-vercode"></i>
                        <input type="text" placeholder="填写验证码" id="yzm">
                    </div>
                    <input type="button" id="btn" value="获取验证码"/>
                </div>
                <div class="regiFoot">
                    <button onclick="nextPass()">下一步</button>
                    <p>点击这里，直接登录</p>
                </div>
            </div>

            <!--设置密码-->
            <div class="regiSen">
                <div class="inputRegi">
                    <i class="layui-icon layui-icon-password"></i>
                    <input type="text" placeholder="填写6-20位数字或字母" id="passNum">
                </div>
                <div class="inputRegi">
                    <i class="layui-icon layui-icon-refresh"></i>
                    <input type="text" placeholder="再次填写密码" id="samePass">
                </div>
                <div class="regiFoot">
                    <button onclick="lastPass()">下一步</button>
                    <p>点击这里，直接登录</p>
                </div>
            </div>

            <!--登录成功-->
            <div class="regiThi">
                <div class="successGou">
                    <i class="layui-icon layui-icon-ok"></i>
                </div>
                <p>登录成功，欢迎成为我们的一员~~</p>
                <div class="regiFoot">
                    <button>去发布文章</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/assets/js/jquery-3.4.1.js"></script>
<script>
    // 监听input框的值
    var userName = document.getElementById('userName');
    var yx = document.getElementById('yx');
    var phoneNum = document.getElementById('phoneNum');
    var yzm = document.getElementById('yzm');
    var passNum = document.getElementById('passNum');
    var samePass = document.getElementById('samePass');

    let regiCon = document.getElementsByClassName("regiCon");
    let regiSen = document.getElementsByClassName("regiSen");
    let regiThi = document.getElementsByClassName("regiThi");

    var reg = /^[1-9]\d*$|^0$/;
    var mima = /^[0-9a-zA-Z]+$/;
    var kongge = /\s/;
    var youxiang = /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;

    function nextPass() {
        if (userName.value == '' || yx.value == '' || phoneNum.value == '' || yzm.value == '') {
            alert("输入框不可为空！");
        } else if (reg.test(phoneNum.value) == false || phoneNum.value.length != 11) {
            alert("输入手机号不正确！");
        } else if (email != $("#yzm").val()) {
            alert("验证码错误！！");
        } else {
            regiCon[0].style.display = 'none';
            regiSen[0].style.display = 'block';
        }
    }

    function lastPass() {
        if (passNum.value == '' || samePass.value == '') {
            alert("输入框不可为空！");
        } else if (passNum.value.length < 6 || passNum.value.length > 20
            || kongge.test(passNum.value) == true || mima.test(passNum.value) == false) {
            alert("请输入6-20由数字和字母包含的密码！！！");
        }
        else if (passNum.value != samePass.value) {
            alert("密码不一致请核查");
        } else {
            let param = {"userEmail": $('#yx').val(),"userPhone": $('#phoneNum').val(),"userPsw": $('#passNum').val(),"userAdmin": $('#userName').val(),"userName": $('#userName').val()};
            $.ajax({
                type: "post",
                url: "http://localhost:8888/register",
                contentType: "application/json",
                data: JSON.stringify(param)
            })
            ;
            regiSen[0].style.display = 'none';
            regiThi[0].style.display = 'block';
        }
    }

    // 验证码倒计时
    var countdown = 60;

    function settime(val) {
        if (countdown == 0) {
            val.removeAttribute("disabled");
            val.value = "获取验证码";
            countdown = 60;
        } else {
            val.setAttribute("disabled", true);
            val.value = countdown + "s" + "重新发送";
            countdown--;
            setTimeout(function () {
                settime(val)
            }, 1000)
        }
    }

    let email = null;
    $("#btn").click(function () {
        if (yx.value == '') {
            alert("邮箱为空");
        } else if (youxiang.test(yx.value) == false) {
            alert("请输入正确的邮箱格式！！");
        } else {
            alert("验证码已发至您所填写的邮箱内，请查收");
            settime(this);
            $.ajax({
                type: "post",
                url: "http://localhost:8888/sendEmail",
                data: {email: $("#yx").val()},
                success: function (data) {
                    email = data;
                }
            })
        }
    })

</script>
</body>
</html>