<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>vip会员</title>
    <link rel="stylesheet" href="../static/assets/style/css/vip.css">
    <link rel="stylesheet" href="../static/assets/style/layui/css/layui.css">
</head>

<body>
    <div class="vip">
        <div class="conter">
            <div class="vipTitle">
                <div class="vipTop">
                    <img src="../static/assets/images/VIPtitle.png">
                </div>
                <div class="vipBut">
                    <p class="btVIP">选择VIP会员套餐</p>
                    <div class="chooseVip">
                        <div class="mounth fl redBor">
                            <div class="m-t">
                                <img src="../static/assets/images/bzVIP.jpg">
                            </div>
                            <p class="claVip">会员</p>
                            <p class="vipCut">￥ <span>18</span>/月</p>
                        </div>
                        <div class="mounth fl">
                            <div class="m-t">
                                <img src="../static/assets/images/bzVIP.jpg">
                            </div>
                            <p class="claVip">大会员</p>
                            <p class="vipCut">￥<span>105</span>/6个月</p>
                        </div>
                        <div class="mounth fl">
                            <div class="m-t">
                                <img src="../static/assets/images/bzVIP.jpg">
                            </div>
                            <p class="claVip">超级会员</p>
                            <p class="vipCut">￥<span>205</span>/年</p>
                        </div>
                    </div>
                    <p class="btVIP">会员特权</p>
                    <div class="vipSpa vipFir">
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-diamond"></i>
                            <p class="ch-p">专属会员徽标</p>
                        </div>
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-unlink"></i>
                            <p class="ch-p">会员去广告</p>
                        </div>
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-face-smile"></i>
                            <p class="ch-p">关注上限达2000</p>
                        </div>
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-template-1"></i>
                            <p class="ch-p">付费内容优惠券</p>
                        </div>
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-more"></i>
                            <p class="ch-p">更多特权敬请期待</p>
                        </div>
                    </div>
                    <div class="vipSpa vipSen">
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-diamond"></i>
                            <p class="ch-p">专属会员徽标</p>
                        </div>
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-unlink"></i>
                            <p class="ch-p">会员去广告</p>
                        </div>
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-face-smile"></i>
                            <p class="ch-p">关注上限达3000</p>
                        </div>
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-template-1"></i>
                            <p class="ch-p">付费内容优惠券</p>
                        </div>
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-more"></i>
                            <p class="ch-p">更多特权敬请期待</p>
                        </div>
                    </div>
                    <div class="vipSpa vipThi">
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-diamond"></i>
                            <p class="ch-p">专属会员徽标</p>
                        </div>
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-unlink"></i>
                            <p class="ch-p">会员去广告</p>
                        </div>
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-face-smile"></i>
                            <p class="ch-p">关注上限达5000</p>
                        </div>
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-template-1"></i>
                            <p class="ch-p">付费内容优惠券</p>
                        </div>
                        <div class="vip-ch">
                            <i class="layui-icon layui-icon-more"></i>
                            <p class="ch-p">更多特权敬请期待</p>
                        </div>
                    </div>
                    <p class="btVIP">商城特惠</p>
                </div>
                <div class="vipBth vipFir">
                    <button class="vipMoney">立即购买￥18.00&nbsp;></button>
                </div>
                <div class="vipBth vipSen">
                    <button class="vipMoney">立即购买￥105.00&nbsp;></button>
                </div>
                <div class="vipBth vipThi">
                    <button class="vipMoney">立即购买￥205.00&nbsp;></button>
                </div>

            </div>
        </div>
    </div>
    <script src="../static/assets/js/jquery-3.4.1.js"></script>
    <script src="../static/assets/style/layui/layui.js"></script>
    <script>
        let redBor = document.getElementsByClassName('radBor');
        let mounth = document.getElementsByClassName('mounth');
        let vipFir = document.getElementsByClassName('vipFir');
        let vipSen = document.getElementsByClassName('vipSen');
        let vipThi = document.getElementsByClassName('vipThi');
        for(let i = 0;i<mounth.length;i++){
            mounth.class = 'mounth';
        }

    </script>
</body>

</html>