<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>vip会员</title>
    <link rel="stylesheet" href="../static/assets/style/css/vip.css">
    <link rel="stylesheet" href="../static/assets/style/layui/css/layui.css">
</head>

<body>
    <div class="vip">
        <div class="vipTitle">
            <div class="vip-l fl">
                <img class="fl" src="../static/assets/images/vip.png">
                <p class="fl">VIP会员频道</p>
                <button>主页</button>
                <button>分类</button>
            </div>
            
            <div class="vip-search fl">
                <input type="text">
                <button>全网搜</button>
            </div>
            <p class="fr">ZYJ</p>
        </div>
    </div>
    <script src="../static/assets/js/jquery-3.4.1.js"></script>
    <script src="../static/assets/style/layui/layui.js"></script>
</body>

</html>