<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.blog.dao.ArticleMapper">

    <insert id="insertArticle" parameterType="com.example.blog.entity.Article">
        insert into t_article(article_id,article_date,article_author,article_content,article_tabloid,article_categories,article_star,last_article_id,article_pageview) values (#{articleId},#{articleDate},#{articleAuthor},#{articleContent},#{articleTabloid},#{articleCategories},0,#{lastArticleId},0)
    </insert>

    <select id="selectCountArticle" resultType="integer">
         select count(1) from t_article
    </select>

    <select id="selectByArticleId" resultType="com.example.blog.entity.Article" parameterType="long">
        select * from t_article where article_id=#{articleId}
    </select>
    <select id="lastArticle" resultType="long">
        <![CDATA[
        SELECT t.article_id from t_article t WHERE t.article_id<#{articleId} ORDER BY t.article_id DESC LIMIT 1
        ]]>
    </select>
    <select id="nextArticle" resultType="long">
        SELECT t.article_id from t_article t WHERE t.article_id>#{articleId} ORDER BY t.article_id asc LIMIT 1
    </select>

    <update id="updateArticleNextID">
        update t_article set t_article.next_article_id=#{nextArticleId} where t_article.article_id=#{articleId}
    </update>

    <select id="selectAllClassify" resultType="com.example.blog.entity.Classify">
      SELECT c.classify from t_classify c where 1=1
    </select>

    <select id="selectAllArticleByClassify" resultType="com.example.blog.entity.Article">
        SELECT * from t_article a WHERE a.article_categories=#{articleCategories}
    </select>

    <select id="selectLikeArticle" resultType="com.example.blog.entity.Article" parameterType="string">
        SELECT * from t_article t WHERE t.article_content LIKE  CONCAT(CONCAT('%', #{text}), '%') OR t.article_title LIKE CONCAT(CONCAT('%', #{text}), '%');
    </select>

    <select id="selectHotArticle" resultType="com.example.blog.entity.Article" parameterType="string">
        SELECT * from t_article a ORDER BY a.article_pageview DESC LIMIT 5
    </select>
</mapper>