<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.blog.dao.ArticleMapper">

    <!--<insert id="insertArticle" parameterType="com.example.blog.entity.Article">-->
    <!--insert into t_article(article_id,article_date,article_author,article_content,article_tabloid,article_title) values (#{articleId},#{articleDate},#{articleAuthor},#{articleContent},#{articleTabloid},#{articleTitle})-->
    <!--</insert>-->

    <insert id="insertArticle" parameterType="com.example.blog.entity.Article">
        insert into t_article(article_id,article_date,article_author,article_content,article_tabloid,article_categories,article_star) values (#{articleId},#{articleDate},#{articleAuthor},#{articleContent},#{articleTabloid},#{articleCategories},0)
    </insert>

    <select id="selectCountArticle" resultType="integer">
        select max(t.article_id) from t_article t where 1=1
    </select>

    <select id="selectByArticleId" resultType="com.example.blog.entity.Article" parameterType="long">
        select * from t_article where article_id=#{articleId}
    </select>

</mapper>