<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.blog.dao.LoginMapper">

    <insert id="register" parameterType="com.example.blog.entity.Account">
        insert into t_user(user_admin,user_psw,user_name,user_role,user_date,user_vip) values (#{userAdmin},#{userPsw},#{userName},'ROLE_USER',#{userDate},0)
    </insert>

    <select id="login" resultType="com.example.blog.entity.Account" parameterType="string">
        select * from t_user  where  user_admin=#{username} and user_psw=#{password}
    </select>

    <select id="isRepeat" resultType="com.example.blog.entity.Account">
        select t_user.user_id from t_user  where  user_admin=#{username}
    </select>
</mapper>