<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.blog.dao.PageListMapper">


    <select id="selectArticle" resultType="com.example.blog.entity.Article">
        select * from t_article
    </select>

    <select id="selectArticleByAuthor" resultType="com.example.blog.entity.Article">
        SELECT * from t_article a WHERE a.article_author=(select u.user_name from t_user u WHERE u.user_id=#{userId})
    </select>



</mapper>